@font-face {font-family: 'iconfont';
            src: url('../fonts/iconfont.eot'); /* IE9*/
            src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
            url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url('../fonts/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
        }
/*消除基本样式*/
body,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,p,blockquote{margin:0;padding:0;font-weight:400;}
ul,li{list-style:none;}

a:hover,a:visited,a:focus{text-decoration: none;}
a:focus{outline:none;-moz-outline:none;}
.hover-line:hover{text-decoration:underline;}

/*常用类*/
.l{float: left;}
.r{float: right;}
.p0{padding: 0px;}
.f18{font-size: 18px;}
.minW750{min-width: 750px;}
.maxW1200{max-width: 1200px;}
.font-simsun{font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;}
.rmb-before:before{content:'￥';font-size: 14px;}
.relative{position: relative;}


/*链接颜色*/
a,a:hover{color: #4184f3;}

/*自定义按钮*/
.btn-goback{padding: 0 10px;margin-top:-5px;margin-right: 10px;}
.btn-goback .ico-font{font-size:16px;}

/*gtable*/
/*        .gtable{margin: 0;padding: 0;}*/
.gtable thead,.gtable tbody,.gtable tfoot,.gtable tbody tr{border: 0;font-size: 100%;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
.gtable>thead>tr>th{font-size: 12.41px;line-height: 16px;color: #777;letter-spacing: 0.3px;padding: 0 0 13px;text-transform: uppercase;vertical-align: top;padding-left: 20px;border-bottom-width: 1px;font-weight: 100;}
.gtable tbody tr td{border-bottom: 1.1px solid #e7e7e7;border-top: none;padding: 11px 0 11px 0;vertical-align: top;color: #222;padding-left: 20px;}
.gtable thead th:first-child,.gtable tbody td:first-child{padding-left: 0px;}

.pro-table .img-thumbnail{width: 40px;height: 40px;overflow: hidden;}

html{height: 100%;}
body{height:100%;color: #222222; background: #fff;font-family: "微软雅黑","黑体","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;}
.ico-before::before,.ico-after::after,.ico-font{font-family:"iconfont" !important;font-size:12px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;font-weight: normal;}
.ico-font.fix{position: relative;top: -1px;display: inline-block;line-height: 1;font-size: 14px;}

/*升跌平ico，放在前面*/
.up.ico-before::before{content: '\e623';color: #f35a4a;}
.up.ico-before{color: #f35a4a;}
.down.ico-before::before{content: '\e622';color: #5cae50;}
.down.ico-before{color: #5cae50;}
.flat.ico-before::before{content: '\e640';color: #777;}
.flat.ico-before{color: #777;}
/*淘宝店，天猫店标识放在前面*/
.shop-taobao.ico-before::before{content: "\e60f";color: #ff4e00;}
.shop-tmall.ico-before::before{content: "\e61f";color: #c40000;}

/*帮助tooltip*/
.help{cursor: pointer;color: #ccc;font-size: 14px;}
.help:hover{color: #36ae48;}
.help+.tooltip.right .tooltip-arrow{border-right-color: #36ae48;}
.help+.tooltip.left .tooltip-arrow{border-left-color: #36ae48;}
.help+.tooltip.bottom .tooltip-arrow{border-bottom-color: #36ae48;}
.help+.tooltip.top .tooltip-arrow{border-top-color: #36ae48;}
.help+.tooltip .tooltip-inner{background-color: #36ae48;padding:8px;font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;}

/*后台消息提示*/
.top-msg-container{float: left;left: 50%;position: relative;}
.top-msg{float: left;left: -50%;position: relative;top: -54px; padding: 0 20px; line-height: 42px; border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;box-shadow: 2px 2px 5px rgba(0,0,0,0.15);margin-top: -50px;font-size: 14px;color: #fff;-webkit-transition:all 0.2s ease 0s;-moz-transition:all 0.2s ease 0s;transition:all 0.2s ease 0s;}
.top-msg a{color: #fff;text-decoration: underline;}
.top-msg a:hover{}
.top-msg .msg-box{}
.top-msg.msg-success{background-color: #36ae48;}
.top-msg.msg-warning{background-color: #ffce55;}
.top-msg.msg-danger{background-color:#f35a4a;}
.top-msg.show{top: -7px;}

/*头部样式*/
.header-wrapper{background: #fff;height: 56px;line-height: 56px;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);width: 100%;position: fixed;z-index: 999;/* border-bottom: 1px solid #eae9e9;*/}
.col-logo{min-width: 340px;}
.header-wrapper .logo-des{margin-left: 10px;}
.header-right-side li{float: right;}
.header-right-side a{font-size: 14px;}
.header-right-side .user{margin-left: 40px;}
.header-right-side .user .ico-font{-webkit-transition: color 0.2s ease-out 0s;-moz-transition: color 0.2s ease-out 0s;transition: color 0.2s ease-out 0s;}
.header-right-side .user a:hover{text-decoration: none;}
.header-right-side .user .account{color: #222;margin-right: 7px;}
.header-right-side .user .ico-font{font-size: 32px;color: #4184f3;vertical-align: -5px;}
.header-right-side .user a:hover .ico-font,.header-right-side .user a:focus .ico-font{color: #f35a4a;}
/*用户菜单*/
#user-menu{width: 120px;border-bottom: none;}
#user-menu .ico-font{font-size: 20px;color: #4184f3;margin-right: 10px;vertical-align:0px;}
#user-menu a{color: #777;font-size: 14px;display: block;padding-left: 10px;}
#user-menu a:hover{text-decoration: none;background-color: rgba(0,0,0,0.035);color: #222;}
#user-menu a:hover .ico-font{color: #f35a4a;}
#user-menu li{line-height: 40px;float: none;}
.contain-body{width: 100%;height: 100%;}
/*后台 -- 左侧导航*/
.nav-side{min-height: 100%;background-color: #fafafa;width: 216px;margin-right: -100%;position: relative;z-index: 1;letter-spacing: 0.4px;position: fixed;}
.nav-side .ver-box{font-size: 18px;height: 56px;line-height: 56px;text-align: center;margin: 0 20px;border-bottom: 1px solid #ededed;}
.nav-side .help-box{margin: 20px 20px 0 20px;border-top: 1px solid #ededed;}
.nav-side .help-box ul{margin-top: 20px;}
.nav-side .help-box li{line-height: 30px;}
.nav-side .help-box li a{color: #777;}
.nav-side .help-box li a:hover{text-decoration: none;color: #222;}
.nav-side .help-box li.help-service a{margin-right: 20px}
.nav-side .help-box li.help-service a:hover .ico-font{color: #f35a4a;}
.nav-side .help-box .ico-font{font-size: 16px;margin-right: 4px;color: #4184f3;}
.nav-tree-box{padding-top: 13px;}
.nav-tree a{text-decoration: none;display: block;padding-top: 3px;padding-bottom: 3px;padding-right: 20px;line-height: 25px;}
.nav-tree-box dl .checked,.nav-tree a:hover{background-color: rgba(0,0,0,0.035);color: #222;}
.nav-tree-box>dl>dt{margin-top: 5px;}
.nav-tree-box dl a{font-size: 15px;color: #222;font-weight: 700;padding-left: 20px;}
.nav-tree-box dl dl a{font-size: 14px;font-weight: normal;padding-left: 36px;}
.nav-tree-box dl dl dl a{font-size: 13px;font-weight: normal;padding-left: 52px;color: #777;}
.nav-tree-box dl .unfold a:after,.nav-tree-box dl .fold a:after{float: right;font-family:"iconfont" !important;font-size:12px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;font-weight: normal;}
.nav-tree-box dl .unfold a:after{content: "\e613";}
.nav-tree-box dl .fold a:after{content: "\e612";}
.nav-tree-box dl .checked{color: #4184f3;border-left:5px solid #4184f3;padding-left: 15px;}
.nav-tree-box dl dl .checked{padding-left: 31px;}
.nav-tree-box dl dl dl .checked{padding-left: 47px;}

/*导航收缩样式*/
.pack-toggle{height:36px;line-height: 36px;position: fixed;bottom: 10px;width: 216px;background: #fafafa;z-index: 999;}
.pack-toggle:hover{background: #f6f6f6;cursor: pointer;}
.pack-toggle:hover .pack-toggle-trigger{color: #4184f3;}
.pack-toggle .pack-toggle-trigger{color: #777;}
.pack-toggle-trigger::before{content: '\e642';}
body.hide-nav .content-bg>.contain-body>.nav-side{display: none;}
body.hide-nav .content-bg>.contain-body>.pack-toggle{width: 36px;height:30px;line-height: 30px;bottom: 10px;border-top-right-radius: 4px;border-bottom-right-radius: 4px;background-color: #4184f3;}
body.hide-nav .content-bg>.contain-body>.pack-toggle:hover{background-color: #2974f1;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);}
body.hide-nav .content-bg>.contain-body>.pack-toggle .pack-toggle-trigger::before{content: '\e641';color: #fff;}
body.hide-nav .content-bg .content-body{margin-left: 0;}

.content{padding-top: 56px;width: 100%;margin-bottom: 100px;}/*前台content：首页，注册等*/
.content-bg{padding-top: 56px;height:auto;}/*后台content*/
.content-side{width: 100%;height: auto;padding-bottom: 20px;}
.content-body{margin-left: 216px;}

/*footer*/
.footer{background-color: #f6f6f6;padding: 40px 15px;width: 100%;}
.footer-links{margin: 0px auto 10px;text-align: center;}
.footer-links li{margin-left: 20px;display: inline-block;}
.footer-links li:first-child{margin-left: 0px;;}
.footer-links li a{color: #777;font-size: 14px;}
.footer-links li a:hover{color: #222;}
.copyright-row .copyright{margin: 10px auto 10px;display: inline-block;color: #999;}

/*隐藏LABEL*/
.input-label{display: none;}
.input-label{_display: block;display: block\9;}/*ie7,8,9,10可见*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {.input-label{display: none;}}/*仅ie10可见*/

/*后台-间距控制*/
.padding-box{padding-left: 15px;padding-right: 15px;}
.padding-row{padding-bottom: 17px;padding-top: 17px;}
.margin-top17-row{margin-top: 17px;}
.margin-bottom17-row{margin-bottom: 17px;}
.margin-top-row{margin-top: 34px;}
.border-bottom-row{border-bottom: 1px solid #e7e7e7;}
.border-box{border: 1px solid #e7e7e7;}
.shadow-row{border: 2px solid #f9f9f9;}

/*后台-店铺切换*/
.switch-shop-menu>h4{cursor: pointer;color: #f35a4a;margin:0px;font-size: 18px;}
.switch-shop-menu>h4>.caret{color: #777777;}
.switch-shop-menu>h4:hover{color: #e75042;}
.switch-shop-menu.open>h4{color: #777;}
.switch-shop-menu .dropdown-menu>li>a{padding:8px 20px;font-size: 14px;}
.switch-shop-menu.open .dropdown-menu>li>a:hover{color:#f35a4a;}
.switch-shop-row .last-update{margin-left: 25px;margin-top: 3px;color: #777;}

/*后台-日期描述*/
.date-des{color: #777;line-height: 28px;}

/*后台-日期选择按钮组*/
.switch-date-btn-group .btn{color: #777;padding:4px 18px;letter-spacing:2px;}
.switch-date-btn-group.btn-xs-group .btn{padding:2px 10px;letter-spacing:1px;}
.switch-date-btn-group .btn.active{position: relative;color:#222;background-color: #efefef;background-image: linear-gradient(to bottom,#efefef, #fff);}
.switch-date-btn-group .btn.active:hover{box-shadow: none;}
.switch-date-btn-group .btn.active span{width: 100%;height: 100%; border-bottom: 2px solid #4184f3;position: absolute;left: 0px;bottom: 0px;}

/*后台-日期范围选择*/
.datepicker-box{display:inline;vertical-align: middle;}
.datepicker-box .btn{margin-left: 10px;}
.datepicker-box .input-group input{width: 100px;}
.datepicker-box .input-daterange .input-group-addon{line-height: 1;}

/*后台-数据描述大标题*/
.data-title{color: #222;margin: 0px;display: inline-block;}
.data-title>.ico-font{font-size: 16px;margin-left: 10px;}
.data-title .before-icon{font-size: 16px;margin-right: 8px;color: #f35a4a;}

/*后台-大TAB*/
.tab-box .tab{background: url(../images/data_tab_bg.gif) repeat-x left bottom;background-image:-webkit-linear-gradient(to top, #f7f7f7, #fff);background-image:linear-gradient(to top,#f7f7f7, #fff);border-left: 1px solid #e7e7e7;padding-top: 7px;padding-bottom: 7px;}
.tab-box .tab:hover{cursor: pointer;background-image:-webkit-linear-gradient(to top, #f0f0f0, #fff);background-image:linear-gradient(to top,#f0f0f0, #fff);}
.tab-box .tab:first-child{border-left:none;}
.tab-box.tab-line .tab{border-right:1px solid #e7e7e7;border-left:none;border-bottom: 1px solid #e7e7e7;}
.tab-box .tab .data-type{color:#777;}
.tab-box .tab .data-type .help{font-size: 14px;float: right;}
.tab-box .tab .data-volume{color:#888;font-size: 24px;font-weight: 700;font-family: tahoma,Arial; }
.tab-box .tab .data-ratio{color:#999;font-size: 12px;font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;}
.tab-box .tab.checked{background: none;position: relative;}
.tab-box .tab.checked .data-type,.tab-box .tab.checked .data-volume{color:#222;}
.tab-box .tab.checked .arrow{width: 13px;height: 8px;background: url(../images/sprites.png) no-repeat 0 0;position: absolute;left: 50%;margin-left: -13px;}
.tab-box.tab-top .tab.checked .arrow{top: -1px;background-position: left -10px;}
/*大tab内容*/
.data-chart{padding:10px 0px;position: relative;}
.data-chart .btn-more{position: absolute;right: 0px;bottom: 10px;}/*右下按钮*/


/*数据表格*/
.table-row{margin-top: 22px;}
.table-col{padding-left: 0;padding-right: 0;}
.tb-head-bar,.tb-footer-bar{background-color: #f5f5f5;width: 100%;height: 48px;border: 1px solid #e7e7e7;padding: 8px 15px; }
.tb-head-bar{border-top-left-radius: 4px;border-top-right-radius: 4px;border-bottom-width: 1px;}
.tb-footer-bar{border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;border-top-width: 1px;}
.data-table{margin-bottom: 0;letter-spacing:0.2px;}
.data-table.grayth > thead > tr > th{background-color: #f7f7f7;}
.data-table > thead:first-child > tr:first-child > th{border-bottom: none;border-top: 1px solid #e7e7e7;}
.data-table > thead > tr > th:first-child{border-left: 1px solid #e7e7e7;}
.data-table > thead > tr > th:last-child{border-right:1px solid #e7e7e7;}
.data-table>tbody>tr>td{border: 1px solid #e7e7e7;}
.data-table>thead>tr>th,.data-table>tbody>tr>td{padding:13px 8px;font-size: 13px;}
.data-table>tbody>tr>td:first-child{text-align: right;}
.data-table.nth1-left>tbody>tr>td:first-child{text-align: left;}
.data-table a:hover{text-decoration: underline;}
/*表格按钮*/
.tb-head-bar .btn-left,.tb-footer-bar .btn-left{border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
.tb-head-bar .btn-right,.tb-footer-bar .btn-right{border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.tb-head-bar .page-info,.tb-footer-bar .page-info{vertical-align:middle;color:#777;}
.btn-export::before{content: '\e63a';color: #777;}

/*小tab*/
.nav-tabs{padding-left: 15px;}
.nav-tabs .active{position: relative;}
.nav-tabs .active span{}
.nav-tabs>li span.ico-font{font-size:14px;margin-right:3px;}
.nav-tabs>li>a{font-size: 14px;padding: 8px 13px;margin-right: 5px;}
.nav-tabs>li.active>a{color: #222;background-color:#f5f5f5;border-bottom: 1px solid #f5f5f5;border-top-left-radius: 4px;border-top-right-radius:4px;font-weight: 600;}
.nav-tabs>li.active>a:hover{background-color: #f5f5f5;color: #222;}
/*小tab--二级tab*/
.nav-tabs-child{}
.nav-tabs-child.nav-bg{background-color:#f5f5f5;}
.nav-pills>li>a{font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;padding: 5px 10px;color: #777;margin-right: 5px;}
.nav-pills>li.active>a{font-weight: 700;box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);}
.nav-pills>li>a:hover{color: #222;}
.nav-pills>li:not(.active)>a:hover{background-color: #ccc;}

/*饼形图提示样式*/
.jqtooltip-class{margin-right: 10px;margin-bottom: 12px;}
#jqstooltip{background-color:rgba(255,255,255,0.95);border: 1px solid #e7e7e7;border-radius: 2px;color: #777;}



/*loading*/
.loading-point{margin: 0px auto;width: 150px;text-align: center;}
.loading-point .bounce1,.loading-point .bounce2,.loading-point .bounce3{width: 6px;height: 6px;display: inline-block;margin-right: 4px;background-color: #f35a4a;border-radius: 100%;-webkit-animation: bouncedelay 0.8s infinite ease-out;-moz-animation:bouncedelay 0.8s infinite ease-out;-o-animation:bouncedelay 0.8s infinite ease-out;animation: bouncedelay 0.8s infinite ease-out;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.loading-point .bounce1 {-webkit-animation-delay: -0.4s;animation-delay: -0.4s;}
.loading-point .bounce2 {-webkit-animation-delay: -0.2s;animation-delay: -0.2s;}
@keyframes bouncedelay {
    0%, 50%, 100% {transform: scale(0.7);-webkit-transform: scale(0.7);opacity:0.7;}
    20% {transform: scale(1);-webkit-transform: scale(1);opacity:1;}
}
@-webkit-keyframes bouncedelay {
  0%, 50%, 100% { -webkit-transform: scale(0.7);opacity:0.7;}
  20% { -webkit-transform: scale(1);opacity:1;}
}
@-moz-keyframes bouncedelay{
    0%, 50%, 100% {transform: scale(0.7);opacity:0.7;}
    20% {transform: scale(1);opacity:1;}
}
@-o-keyframes bouncedelay{
    0%, 50%, 100% {transform: scale(0.7);opacity:0.7;}
    20% {transform: scale(1);opacity:1;}
}
